@model Adso.Models.ViewModels.CountryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Country</h4>
    <hr /> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.CallingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CallingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Country.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
